@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

* {
  font-family: "Dela Gothic One", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  background: #ff97bb;
  min-height: 100dvh;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 100%;
  max-width: 320px;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
  background: #cf7e9a;
}

.button {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px;
}

.yes {
  color: #fff;
  background: #32b834;
}

.no {
  color: #fff;
  background: #ff3828;
}

.btns {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
}
